.curtain {
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: #059669;
  z-index: 10000;
  pointer-events: none;
}

.curtain-left {
  left: 0;
  top: 0;
}

.curtain-right {
  right: 0;
  top: 0;
}
