<footer [ngClass]="{'bg-gray-800 text-white': isDarkMode, 'bg-white text-gray-900': !isDarkMode}" class="py-8">
  <div class="max-w-screen-xl mx-auto px-6 lg:px-12">
    <div class="flex justify-between items-center mb-6">
      <!-- Logo o Texto del Autor -->
      <div class="text-2xl font-semibold">
        <span class="text-teal-500">Jorge Luis</span> Castillo Vega
      </div>

      <!-- Redes Sociales -->
      <div class="flex space-x-6">
        <a href="https://github.com/VCL-tt" target="_blank" class="text-teal-500 hover:text-teal-400 transition-colors">
          <i class="fab fa-github text-2xl"></i>
        </a>
        <a href="https://www.linkedin.com/in/jcastillov15" target="_blank" class="text-teal-500 hover:text-teal-400 transition-colors">
          <i class="fab fa-linkedin text-2xl"></i>
        </a>
        <a href="mailto:tuemail&#64;example.com" class="text-teal-500 hover:text-teal-400 transition-colors">
          <i class="fas fa-envelope text-2xl"></i>
        </a>
      </div>
    </div>

    <!-- Información de contacto y enlaces -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-sm" [ngClass]="{'text-gray-400': isDarkMode, 'text-gray-700': !isDarkMode}">
      <div>
        <h3 class="font-semibold text-white">Enlaces Rápidos</h3>
        <ul>
          <li><a href="#!" class="hover:text-teal-400">Inicio</a></li>
          <li><a href="#!" class="hover:text-teal-400">Proyectos</a></li>
          <li><a href="#!" class="hover:text-teal-400">Conocimientos</a></li>
          <li><a href="#!" class="hover:text-teal-400">Contactar</a></li>
        </ul>
      </div>

      <div>
        <h3 class="font-semibold text-white">Información de Contacto</h3>
        <div class="flex flex-col items-start space-y-4">
          <!-- Icono de correo -->
          <div class="flex items-center space-x-3">
            <a href="mailto:tuemail&#64;example.com" class="text-teal-500 hover:text-teal-400">
              <i class="fas fa-envelope text-lg"></i>
            </a>
            <span class="text-sm">Email</span>
          </div>

          <!-- Icono de teléfono -->
          <div class="flex items-center space-x-3">
            <a href="tel:+51 991185552" class="text-teal-500 hover:text-teal-400">
              <i class="fas fa-phone text-lg"></i>
            </a>
            <span class="text-sm">Teléfono </span>
          </div>
        </div>
      </div>

      <div>
        <h3 class="font-semibold text-white">Sobre el Autor</h3>
        <p class="text-sm">Desarrollador de software apasionado por crear soluciones eficientes, escalables y fáciles de usar.</p>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center mt-6" [ngClass]="{'text-gray-400': isDarkMode, 'text-gray-600': !isDarkMode}">
      <p>&copy; 2025 Jorge Luis Castillo Vega. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
