<app-navbard [isDarkMode]="isDarkMode" (themeToggle)="toggleTheme()"></app-navbard>

<div class="lg:pl-60">
<main class="container-ed pb-16">
  <!-- Hero (tarjeta) -->
  <section id="home">
    <app-hero></app-hero>
  </section>

  <div class="mt-5"><app-about-me id="sobre-mi"></app-about-me></div>
  <div class="mt-5"><app-stack-tecnologico id="tecnologias"></app-stack-tecnologico></div>
  <div class="mt-5"><app-experiencia id="experiencia"></app-experiencia></div>
  <div class="mt-5"><app-certificaciones id="certificaciones"></app-certificaciones></div>
  <div class="mt-5"><app-footer></app-footer></div>
</main>
</div>
