<section class="w-screen h-screen bg-black flex justify-center items-center animate__animated" [ngClass]="animationClass">
  <div class="relative w-full h-full flex justify-center items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full">
      <text
        x="50%"
        y="50%"
        class="logo-text"
        text-anchor="middle"
        dominant-baseline="middle"
        font-size="13vw"
        fill="none"
        stroke="#00FF00"
        stroke-width="4"
      >
        JCV CODE
      </text>
    </svg>
  </div>
</section>
